@CHARSET "UTF-8";

.error {
	color: red;
	/* 	background-color: gray;
	font-family: monospace;
	font-size: 1.1em;
 */
}

.warning {
	color: yellow;
	/* 	background-color: gray;
	font-family: monospace;
	font-size: 1.1em; */
}

.selected {
	background-color: lightgreen;
}